// Import Bootstrap styles
@import url('../../bootstrap/css/bootstrap.min.css');

// Import fonts
@font-face {
  font-family: merriweather;
  src: url('../../fonts/Merriweather-Regular.ttf') format('truetype');
}

@font-face {
  font-family: robotoLight;
  src: url('../../fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: robotoRegular;
  src: url('../../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: robotoMedium;
  src: url('../../fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: tStar;
  src: url('../../fonts/TSTAR-Regular.otf') format('truetype');
}

// Color collection variables
$sandYellow:    #f2c25d;
$darkGreen:     #184b45;
$veryLightGray: #e2e2e2;
$lightGray:     #d3d3d3;
$white:         #ffffff;
$gray:          #808080;
$green:         #008000;
$veryLightRed:  #ffe2e2;
$red:           #ff0000;
$black:         #000000;
$veryDarkGreen: #003B00;
$almostBlack:   #292929;

//body
body {
  background-color: #ebebeb;
}

// Styles for header section
.mainHeader {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: auto;
  max-width: 1500px;
  position: relative;
  overflow: hidden;
  background-color: $white;

  .homeLink {
    position: absolute;
    color: #184b45;
    right: 50px;
    top: 100px;
    font-family: robotoLight, serif;
    font-size: 3rem;
    cursor: pointer;

    @media all and (max-width: 767px) {
      top: 55px;
      right: 8px;
    }
  }

  .header {
    position: relative;

    .languageSwitcher {
      position: absolute;
      right: 120px;
      top: 52px;
      z-index: 100;
      
      @media all and (max-width: 767px) {
        top: 100px;
        width: 45px;
        right: 27px !important;
      }

      a {
        color: $white;
      }

      .active {
        a {
          color: $veryDarkGreen;
          text-decoration: underline;
          font-weight: bolder;
        }
      }
    }

    .background {
      width: 100%;

      @media all and (max-width: 767px) {
        width: 160%;
      }
    }

    .portrait {
      position: absolute;
      top: 22%;
      left: 0;
      right: 0;
      margin-right: auto;
      margin-left: auto;
      width: 30%;

      @media all and (max-width: 767px) {
        min-width: 60%;
        top: 7%;
      }
    }

    .headline {
      position: absolute;
      top: 65%;
      left: 0;
      right: 0;
      margin-right: auto;
      margin-left: auto;
      
      @media all and (max-width: 767px) {
        top: 60%;
      }

      h1 {
        color: $white;
        font-family: merriweather, serif;
        font-size: 9rem;
        letter-spacing: 20px;
        text-indent: 10px;
        text-transform: uppercase;

        @media all and (max-width: 1250px) {
          font-size: 6rem;
        }

        @media all and (max-width: 790px) {
          font-size: 5rem;
          letter-spacing: 10px;
        }

        @media all and (max-width: 767px) {
          font-size: 9rem;
          letter-spacing: 10px;
        }

        @media all and (max-width: 700px) {
          font-size: 7rem;
          letter-spacing: 10px;
        }

        @media all and (max-width: 600px) {
          font-size: 6rem;
          letter-spacing: 10px;
        }

        @media all and (max-width: 550px) {
          font-size: 5rem;
          letter-spacing: 10px;
        }

        @media all and (max-width: 500px) {
          font-size: 4.5rem;
          letter-spacing: 10px;
        }

        @media all and (max-width: 450px) {
          font-size: 4rem;
          letter-spacing: 10px;
        }

        @media all and (max-width: 320px) {
          font-size: 3rem;
          letter-spacing: 10px;
        }
      }
    }

    .imgDes {
      position: absolute;
      left: 0;
      right: 0;
      margin-right: auto;
      margin-left: auto;
      bottom: -7%;

      @media all and (max-width: 767px) {
        bottom: auto;
        width: 40%;
      }

      p {
        font-family: robotoLight, serif;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 1.5rem;

        @media all and (max-width: 1400px) {
          font-size: 1.2rem;
          letter-spacing: 3px;
        }

        @media all and (max-width: 1170px) {
          font-size: 1rem;
          letter-spacing: 3px;
        }

        @media all and (max-width: 930px) {
          font-size: 0.9rem;
          letter-spacing: 1px;
        }

        @media all and (max-width: 767px) {
          padding-top: 20px;
          font-size: 1.5rem;
        }

        @media all and (max-width: 658px) {
          font-size: 1.2rem;
        }

        @media all and (max-width: 539px) {
          padding-top: 5px;
        }

        @media all and (max-width: 520px) {
          font-size: 1.1rem;
        }

        @media all and (max-width: 490px) {
          font-size: 1rem;
          padding-top: 15px;
        }

        @media all and (max-width: 460px) {
          padding-top: 7px;
        }

        @media all and (max-width: 420px) {
          font-size: 1.2rem;
        }

        @media all and (max-width: 320px) {
          font-size: 0.7rem;
        }
      }
    }
  }

  .spaceMaker {
    height: 100px;

    @media all and (min-width: 2130px) {
      height: 150px;
    }
    
    @media all and (max-width: 991px) {
      height: 55px;
    }

    @media all and (max-width: 767px) {
      height: 120px;
    }

    @media all and (max-width: 500px) {
      height: 70px;
    }
  }
}

// Styles for homepage
.content {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: auto;
  max-width: 1500px;
  position: relative;
  overflow: hidden;
  background-color: white;

  .history {
    margin-top: 5%;
    margin-bottom: 8%;

    @media all and (max-width: 991px) {
      margin-top: 0;
      margin-bottom: 30px;
    }

    .leftHistory {
      text-align: right;
      padding-right: 70px;
      padding-top: 30px;

      @media all and (max-width: 991px) {
        text-align: center;
        font-size: smaller;
        padding-right: 0;
        padding-left: 0;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
      }

      h1 {
        font-family: merriweather, serif;
        text-transform: uppercase;
        font-size: 8rem;
        letter-spacing: 15px;
        color: $sandYellow;
        padding-bottom: 30px;

        @media all and (max-width: 991px) {
          font-size: 6rem;
          padding-top: 0;
          padding-bottom: 10px;
          margin-left: 16px;
        }
      }

      h4, p {
        font-family: robotoRegular, serif;
        
        @media all and (max-width: 991px) {
          text-align: left;
          padding-left: 30px;
          padding-right: 30px;
        }
      }
    }

    .rightHistory {
      table {
        @media all and (max-width: 991px) {
          font-size: smaller;
          width: 100%;
        }

        tr {
          height: 30px;
        }

        .time {
          width: 100px;
          padding-right: 10px;

          @media all and (max-width: 500px) {
            width: 105px;
          }
        }

        td {
          vertical-align: top;
          font-family: robotoRegular, serif;
          font-size: small;
          padding-bottom: 10px;
        }
      }
    }

    .normalHistory {
      @media all and (max-width: 991px) {
        display: none;
      }
    }

    .mobileHistory {
      display: none;

      @media all and (max-width: 991px) {
        display: inherit;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        margin-top: 5%;
        padding-right: 30px;
        padding-left: 30px;

        .line {
          width: 90px;
          border-bottom: 2px solid $sandYellow;
          margin: 45px auto;

          @media all and (max-width: 767px) {
            margin: 30px auto;
          }
        }
      }
    }
  }

  .explanation {
    position: relative;
    background: url('../../images/secondBg.jpg') no-repeat 100% 100% /cover;

    @media all and (min-width: 769px) {
      padding-bottom: 20%;
    }

    @media all and (max-width: 991px) {
      padding-bottom: 0;
    }

    .inner {
      top: 0;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;

      h3 {
        color: $white;
        font-family: merriweather, serif;
        text-transform: uppercase;
        margin-top: 80px;
        padding-top: 90px;
        letter-spacing: 10px;

        @media all and (max-width: 767px) {
          margin: 0;
          padding: 30px 30px 0;
          letter-spacing: 5px;
          line-height: 1.5;
        }
      }

      .line {
        width: 90px;
        border-bottom: 2px solid $sandYellow;
        margin: 45px auto;

        @media all and (max-width: 767px) {
          margin: 30px auto;
        }
      }

      .text {
        text-align: left;
        width: 35%;
        margin-left: auto;
        margin-right: auto;

        @media all and (max-width: 991px) {
          width: 70%;
          margin-bottom: 30px;
        }

        @media all and (max-width: 767px) {
          width: auto;
          padding: 0 30px;
          margin-bottom: 30px;
        }

        p {
          color: $white;
          font-family: robotoRegular, serif;

          @media all and (max-width: 767px) {
            font-size: smaller;
          }
        }
      }

      @media all and (min-width: 992px) {
        .bottomStuff {
          position: absolute;
          width: 100%;
          bottom: -5%;

          @media all and (max-width: 1200px) and (min-width: 767px) {
            bottom: auto;
          }
        }
      }

      .smallText {
        padding-left: 60px;
        text-align: left;

        @media all and (max-width: 991px) {
          text-align: left;
          padding: 30px;
          width: 90%;
          margin-right: auto;
          margin-left: auto;
        }

        h5 {
          color: $sandYellow;
          font-family: robotoRegular, serif;
        }

        p {
          color: $white;
          font-family: robotoRegular, serif;
        }
      }

      .theinGrey {
        img {
          width: 70%;
          float: right;

          @media all and (max-width: 991px) {
            float: none;
            display: inline;
            width: 100%;
          }
        }
      }

      .specialHeader {
        position: absolute;
        bottom: 7.5%;
        left: 18%;
        transform-origin: 0 0;
        transform: rotate(-90deg);

        h1 {
          color: $sandYellow;
          font-family: merriweather, serif;
          font-size: 8rem;
          letter-spacing: 20px;
          text-transform: uppercase;
        }
      }

      @media all and (min-width: 768px) {
        .pull-down {
          position: absolute;
          bottom: -5px;
          right: 0;
        }
      }
    }
  }

  .works {
    margin-top: 10%;
    
    @media all and (max-width: 991px) {
      margin-top: 0;
    }

    .leftWorks {
      text-align: right;
      padding-right: 70px !important;

      @media all and (max-width: 991px) {
        text-align: center;
        font-size: smaller;
      }

      h1 {
        font-family: merriweather, serif;
        text-transform: uppercase;
        font-size: 8rem;
        letter-spacing: 15px;
        color: $sandYellow;
        padding: 25px 15px 20px;

        @media all and (max-width: 991px) {
          font-size: 6rem;
        }
      }

      a {
        margin-top: 3%;
        display: block;
        text-decoration: none;
        color: $black;
        cursor: pointer;
        font-size: 15px;
      }

      a:hover {
        color: $gray;
      }

      span {
        color: $gray;
      }
    }

    .rightWorks {
      padding: 0 30px 30px 0 !important;
      font-family: robotoRegular, serif;
      text-align: left;

      @media all and (max-width: 991px) {
        padding: 30px 30px !important;
        font-size: smaller;
        margin-top: 20px;
        text-align: center;
      }

      p {
        font-size: 1.3rem;
      }
    }
    
    .normalWorks {
      @media all and (max-width: 991px) {
        display: none;
      }
    }

    .mobileWorks {
      display: none;

      @media all and (max-width: 991px) {
        display: block;

        h1 {
          font-family: merriweather, serif;
          text-transform: uppercase;
          font-size: 6rem;
          letter-spacing: 15px;
          color: $sandYellow;
          padding: 30px 30px 10px;


          @media all and (max-width: 320px) {
            font-size: 5rem;
          }
        }

        .panel-body {
          border: none !important;
        }

        .panel-heading {
          background-color: #01251e;
          height: 50px;
          border-radius: 0;
          padding: 15px 30px;
        }

        .panel {
          box-shadow: none !important;
          text-align: left;
          margin-top: 1px;
          border: none !important;

          a {
            font-family: robotoRegular, serif;
            color: $white;
            text-decoration: none !important;
          }
        }

        .panel-collapse {
          padding: 30px;
        }

        .iconUp {
          color: $white;
          float: right;
          padding-right: 15px;
        }

        .panel-group {
          margin-bottom: 0 !important;
        }
      }
    }
  }

  .publishers {
    padding-top: 120px;

    @media all and (max-width: 991px) {
      padding-top: 0;
    }

    h3 {
      font-family: merriweather, serif;
      text-transform: uppercase;
      color: $sandYellow;
      letter-spacing: 10px;

      @media all and (max-width: 767px) {
        padding: 30px;
        letter-spacing: 5px;
      }
      
      @media all and (max-width: 991px) {
        padding-top: 30px;
        padding-bottom: 20px;
        margin: 0;
      }
    }

    .line {
      width: 90px;
      border-bottom: 2px solid $lightGray;
      margin: 45px auto 8px;

      @media all and (max-width: 767px) {
        margin: 0 auto;
      }
    }

    .specialRow {
      width: 80%;
      margin-left: auto;
      margin-right: auto;

      @media all and (min-width: 1500px) {
        max-width: 67%;
      }
      
      @media all and (max-width: 767px) {
        width: 100%;
      }

      .element {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }

      .coverElement {
        height: 170px;

        @media all and (max-width: 767px) {
          height: auto;
        }
      }
    }

    p {
      font-family: robotoRegular, serif;
      font-size: smaller;
      margin: 40px 0;
    }

    button {
      text-transform: uppercase;
      padding: 15px 30px 10px;
      font-size: large;
      font-family: tStar, serif;
      background-color: $white;
      border: 2px solid $lightGray;
      color: $black;
      letter-spacing: 5px;
    }

    button:hover {
      background-color: $veryLightGray;
    }

    /*.showImage {
      position: fixed;
      z-index: 101;
      top: 50%;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      width: 40%;
      display: none;
      transform: translate(0, -50%);

      @media all and (max-width: 970px) {
        width: 55%;
      }

      @media all and (max-width: 660px) {
        width: 70%;
      }

      @media all and (min-width: 2210px) {
        width: 30%;
      }
    }*/

    .coverImage {
      z-index: 101;
      margin-right: auto;
      margin-left: auto;
      margin-top: 15%;
      cursor: pointer;
      width: 85%;
    }

    .noBorder {
      border: none !important;
      padding: 0 !important;
    }

    .coverOverlay {
      position: fixed;
      z-index: 100;
      background-color: white;
      border: solid white;
      border-width: 30px 0;
      padding: 0 30px;
      display: none;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      text-align: left;
      max-height: 80%;
      overflow: scroll;

      img {
        width: 100%;
        margin: 0 auto;
        display: block;
        max-width: 480px;
      }

      .closeCover {
        position: fixed;
        height: 25px;
        width: 25px;
        top: 0;
        left: 0;
        cursor: pointer;
      }

      .closeCover::before,
      .closeCover::after {
        content: '';
        top: 11px;
        position: absolute;
        height: 3px;
        width: 25px;
        background-color: #000000;
      }

      .closeCover::before {
        transform: rotate(-45deg);
      }

      .closeCover::after {
        transform: rotate(45deg);
      }

      .description {
        h3 {
          font-family: unset;
          text-transform: unset;
          color: unset;
          letter-spacing: unset;
        }

        p {
          font-size: unset;
          font-family: unset;
          margin: 10px 0;
        }

        img {
          width: 100%;
          height: auto;
          max-width: 650px;
        }
      }
    }

    @media all and (max-width: 767px) {
      .rightImg {
        padding-left: 15px;
      }

      .leftImg {
        padding-right: 15px;
      }
    }

    .closeCover {
      font-size: xx-large;
      color: $white;
      z-index: 102;
      display: none;
      position: fixed;
      top: 50%;
      left: 70%;
      cursor: pointer;
      transform: translate(0, 20%);

      @media all and (max-width: 970px) {
        left: 77%;
      }

      @media all and (max-width: 660px) {
        left: 84%;
      }

      @media all and (min-width: 2210px) {
        left: 65%;
      }
    }

    .closeCover:hover {
      color: $lightGray;
    }
  }

  .passion {
    margin-top: 80px;

    @media all and (max-width: 991px) {
      margin-top: 0;
    }

    .headline {
      position: absolute;
      right: 0;
      bottom: 0;
    }

    .topRow {
      position: relative;

      img {
        float: right;

        @media all and (max-width: 767px) {
          float: none;
        }
      }

      h1 {
        text-align: left;
        text-transform: uppercase;
        color: $sandYellow;
        font-family: merriweather, serif;
        font-size: 8rem;
        letter-spacing: 15px;

        @media all and (max-width: 767px) {
          font-size: 6rem;
          letter-spacing: 10px;
          text-align: center;
        }

        @media all and (max-width: 970px) {
          font-size: 5rem;
          padding: 30px;
        }
        
        @media all and (max-width: 320px) {
          font-size: 4rem;
        }
      }
    }

    .bottomRow {
      position: relative;

      img {
        width: 100%;
      }

      #slideshow1 {
        img {
          position: absolute;
        }
      }

      #slideshow2 {
        position: absolute;
        right: 0;
        bottom: 0;

        img {
          position: absolute;
          bottom: 0;
          left: 0;
        }
      }
    }

    .images {
      padding: 0;
    }

    .imageRight {
      position: absolute;
      bottom: 0;
      left: 0;

      img {
        width: 100%;
      }
    }

    .imageLeft {
      img {
        width: 100%;
      }
    }
  }
}

// Styles for footer section
.footer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: auto;
  max-width: 1500px;
  position: relative;
  overflow: hidden;
  background-color: $white;

  .contentForm {
    background: url('../../images/contactBg.jpg') no-repeat 100% 100% /cover;
    text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    top: 0;
    padding-right: 30px;
    padding-left: 30px;

    h3 {
      font-family: merriweather, serif;
      text-transform: uppercase;
      color: $sandYellow;
      letter-spacing: 10px;
      margin: 0;
      padding-top: 80px;
      
      @media all and (max-width: 991px) {
        padding-top: 30px;
      }
    }

    .line {
      width: 90px;
      border-bottom: 2px solid $gray;
      margin: 45px auto 20px;
      position: relative;
    }

    input {
      background: none;
      color: $white;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid $gray;
      width: 95%;
      height: 50px;
      margin-top: 10px;
      outline: none;
      border-radius: 0;
    }

    input::placeholder {
      color: $white;
    }

    input:focus {
      border-bottom: 1px solid $sandYellow;
    }

    textarea {
      margin-top: 70px;
      width: 95%;
      height: 200px;
      padding: 10px;
      resize: none;
      outline: none;
      
      @media all and (max-width: 991px) {
        margin-top: 30px ;
      }
    }

    .formButton {
      margin-top: 70px;
      border: 2px solid $darkGreen;
      font-family: tStar, serif;
      color: $sandYellow;
      font-size: large;
      text-transform: uppercase;
      letter-spacing: 5px;
      width: auto;
      padding-left: 35px;
      padding-right: 35px;
      padding-top: 7px;
      text-align: center;
      
      @media all and (max-width: 991px) {
        margin-top: 30px ;
      }
    }

    .formButton:hover {
      background-color: $darkGreen;
    }

    .footerLinks {
      margin-top: 3%;
      padding-bottom: 3%;
      
      @media all and (max-width: 767px) {
        padding-bottom: 30px;
      }

      div {
        padding-right: 0;
        padding-left: 0;
      }

      a {
        color: $sandYellow;
        cursor: pointer;
        font-family: robotoLight, serif;
        font-size: larger;
      }

      .linkLeft {
        text-align: right;

        @media all and (max-width: 767px) {
          text-align: center;
        }
      }

      .linkRight {
        text-align: left;

        @media all and (max-width: 767px) {
          text-align: center;
        }
      }
    }

    span.wpcf7-not-valid {
      border: 1px solid $red;
    }

    span.wpcf7-not-valid-tip {
      display: none;
    }

    div.wpcf7-validation-errors {
      position: absolute;
      color: black;
      border-radius: 10px;
      margin-left: auto;
      margin-right: auto;
      right: 0;
      left: 0;
      bottom: 20%;
      width: 50%;
      background: $veryLightRed;
      border: 1px solid $red;
    }

    div.wpcf7-mail-sent-ok {
      position: absolute;
      color: black;
      border-radius: 10px;
      margin-left: auto;
      margin-right: auto;
      right: 0;
      left: 0;
      bottom: 20%;
      width: 50%;
      background: $white;
      border: 1px solid $green;
    }

    .ajax-loader {
      height: 0;
      width: 0;
    }

    .fontStyles {
      font-family: robotoLight, serif;

      div {
        display: inline-block;
      }

      p {
        color: $white;
        text-align: left;
        font-size: larger;
        font-family: robotoRegular, sans-serif;
      }

      a {
        color: $white;
      }

      table {
        color: white;
        font-size: 14px;
        font-family: robotoRegular, sans-serif;

        .address {
          padding-bottom: 10px;
        }
      }
    }
  }
}

/* Start - Black background for showing cover images */
.blackout {
  position: fixed;
  opacity: 0.5;
  background-color: $black;
  width: 100%;
  height: 100%;
  top: 0;
  cursor: pointer;
  display: none;
}
/* End - Black background for showing cover images */

// Styles for imprint page
.impressum {
  text-align: center;
  width: auto;
  max-width: 1500px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  padding: 30px;
  background-color: $white;

  h1 {
    font-family: merriweather, serif;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: $sandYellow;
    padding-bottom: 30px;
    text-align: center;

    @media all and (max-width: 350px) {
      font-size: 30px;
    }
    
    @media all and (max-width: 767px) {
      font-size: 3rem;
      letter-spacing: 5px;
    }
  }

  @media all and (max-width: 767px) {
    text-align: left;
  }

  .imprintContent {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;

    @media all and (max-width: 767px) {
      width: 80%;
    }
  }

  p {
    font-size: 18px;
  }
}

// Styles for links page
.links {
  text-align: center;
  width: auto;
  max-width: 1500px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  padding: 30px;
  background-color: $white;

  .containerBox {
    margin-right: auto;
    margin-left: auto;
  }

  @media all and (max-width: 767px) {
    text-align: left;
  }

  h1 {
    font-family: merriweather, serif;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: $sandYellow;
    padding-bottom: 30px;
    text-align: center;


    @media all and (max-width: 767px) {
      font-size: large;
    }
    
    @media all and (max-width: 350px) {
      font-size: large;
    }
  }

  a {
    display: inherit;
    color: $veryDarkGreen;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 18px;
  }
}

// Styles for datenschutz page
.datenschutz {
  text-align: center;
  max-width: 1500px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 30px;
  background-color: $white;
  
  h1 {
    font-family: merriweather, serif;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
    color: $sandYellow;padding-bottom: 30px;

    @media all and (max-width: 450px) {
      font-size: 25px;
    }

    @media all and (max-width: 350px) {
      font-size: 20px;
    }
  }
  
  .content {
    font-size: 18px;

    width: 50%;
    text-align: left;
    padding-bottom: 50px;

    @media all and (max-width: 767px) {
      width: 80%;
    }
  }
}

// Styles for custom scrollbar
#scroller{
  position: relative;
  z-index: 99;
}

.Container {
  position: absolute;
  top: 40px;
  left: 55px;
  width: 411px;
  height: 375px;
  /*background: #FFF url(images/container_background.gif) no-repeat;*/
  /* border: 1px solid black; */

  @media all and (max-width: 991px) {
    position: inherit;
  }
}

#Scroller-1, #Scroller-2, #Scroller-3, #Scroller-4, #Scroller-5, #Scroller-6, #Scroller-7 {
  position: absolute;
  overflow: hidden;
  width: 411px;
  height: 450px;
}

#Scroller-1 p, #Scroller-2, #Scroller-3, #Scroller-4, #Scroller-5, #Scroller-6, #Scroller-7 {
  margin: 0; padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  text-indent: 0;
  color: $black;
}
.Scroller-Container,  .Scroller-Container-2, .Scroller-Container-3, .Scroller-Container-4, .Scroller-Container-5, .Scroller-Container-6, .Scroller-Container-7 {
  position: absolute;
  top: 0;
  left: -50px;
}
#Scrollbar-Container, #Scrollbar-Container-2, #Scrollbar-Container-3, #Scrollbar-Container-4, #Scrollbar-Container-5, #Scrollbar-Container-6, #Scrollbar-Container-7 {
  position: absolute;
  top: 40px;
  left: -15px;

  @media all and (max-width: 991px) {
    top: auto;
    left: 5%;
  }
}
.Scrollbar-Up {
  cursor: pointer;
  position: absolute;
}
.Scrollbar-Track {
  width: 20px;
  height: 450px;
  position: absolute;
  cursor: pointer;
  /*margin-left: auto;
  margin-right: auto;*/
  top: 0;
  left: 0;
  background: transparent url(../../images/scrollbar_track.gif) repeat-y;
  background-position: 14px;

}
.Scrollbar-Handle {
  position: absolute;
  width: 30px;
  height: 43px;
}
.Scrollbar-Down {
  cursor: pointer;
  position: absolute;
  top: 187px;
}

// Style changes for sidebar
a.shiftnav-target {
  background: none !important;
}

.shiftnav-target {
  border: none !important;
  font-family: robotoRegular, serif !important;
}

.shiftnav-target:hover {
  background: $darkGreen !important;
}

.shiftnav-toggle-burger {
  background: $white !important;
  margin-right: 40px !important;
  height: 45px !important;
  width: 45px !important;
  padding: 9px 0 0 0 !important;
  border: 1px solid $veryDarkGreen;

  @media all and (max-width: 767px) {
    margin-right: 0 !important;
  }

  i {
    color: $darkGreen !important;
  }
}

.shiftnav-site-title {
  display: none !important;
}

.shiftnav:after {
  display: none !important;
}

.shiftnav-toggle-style-burger_only {
  top: 40px !important;
  right: 40px !important;
  z-index: 1 !important;

  @media all and (max-width: 767px) {
    top: 0 !important;
    right: 0 !important;
    z-index: 120 !important;
  }
}

.shiftnav-toggle-main-align-center {
  max-width: 1500px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  left: 0 !important;
  right: 0 !important;
  background: none !important;
}